<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="EasyToDo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<EasyToDo.Properties.Settings>
			<setting name="MyLocation" serializeAs="String">
				<value>100, 100</value>
			</setting>
			<setting name="MyClientSize" serializeAs="String">
				<value>284, 262</value>
			</setting>
			<setting name="ListLocation" serializeAs="String">
				<value>0, 24</value>
			</setting>
			<setting name="ListSize" serializeAs="String">
				<value>349, 121</value>
			</setting>
			<setting name="ListAliment" serializeAs="String">
				<value>Top</value>
			</setting>
			<setting name="Column0" serializeAs="String">
				<value>85</value>
			</setting>
			<setting name="ColumnWidth_0" serializeAs="String">
				<value>85</value>
			</setting>
			<setting name="ColumnIndex_0" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ColumnWidth_1" serializeAs="String">
				<value>218</value>
			</setting>
			<setting name="ColumnIndex_1" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ColumnWidht_3" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="ColumnIndex_3" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="DialogLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
		</EasyToDo.Properties.Settings>
	</userSettings>
</configuration>